DATABASE_URL=postgres://postgres:postgres@localhost:5432/zerde109
TEST_DATABASE_URL=postgres://postgres:postgres@localhost:5432/zerde109_test
DATA_DIR=./data/raw
SOURCE_DIR=./Аналитика обращений граждан по call-центрам 109
